In [4]:
import pandas as pd

In [20]:
df = pd.read_csv('../data/train.csv')

In [6]:
import sweetviz as sv

# Assuming that data is a pandas DataFrame
report = sv.analyze(df)
report.show_html('report.html')

Done! Use 'show' commands to display/save.   |██████████| [100%]   00:01 -> (00:00 left)

Report report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [25]:
d = df[df['stock_id'] == 105]
d.head(20)

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target,time_id,row_id
101,105,0,0,0.00,0,0.999955,10692696.22,NaN,NaN,0.999955,48046.79,1.000113,121818.12,1.000000,-1.279712,0,0_0_105
292,105,0,10,0.00,0,1.000113,10692696.22,NaN,NaN,1.000113,47038.68,1.000271,124948.32,1.000156,0.410080,1,0_10_105
483,105,0,20,0.00,0,1.000113,10692696.22,NaN,NaN,1.000113,116866.68,1.000271,95108.02,1.000200,4.680157,2,0_20_105
674,105,0,30,0.00,0,1.000271,10749821.77,NaN,NaN,1.000271,130217.99,1.000428,132651.50,1.000349,4.980564,3,0_30_105
865,105,0,40,0.00,0,1.000271,10888319.48,NaN,NaN,1.000271,206405.99,1.000428,41719.50,1.000402,6.120205,4,0_40_105
1056,105,0,50,0.00,0,1.000428,10911296.64,NaN,NaN,1.000428,161988.50,1.000586,70623.12,1.000538,5.589724,5,0_50_105
1247,105,0,60,0.00,0,1.000586,10911296.64,NaN,NaN,1.000586,164109.84,1.000743,77049.76,1.000693,5.530119,6,0_60_105
1438,105,0,70,0.00,0,1.000586,10968485.66,NaN,NaN,1.000586,164236.86,1.000743,89436.16,1.000688,4.960299,7,0_70_105
1629,105,0,80,0.00,0,1.000428,10993874.79,NaN,NaN,1.000428,138747.50,1.000586,38360.04,1.000552,0.350475,8,0_80_105
1820,105,0,90,0.00,0,1.000586,10993874.79,NaN,NaN,1.000586,113301.84,1.000743,196912.00,1.000643,-1.369715,9,0_90_105
2011,105,0,100,0.00,0,1.000586,10995207.72,NaN,NaN,1.000586,94248.84,1.000743,174997.60,1.000641,-0.069737,10,0_100_105
2202,105,0,110,0.00,0,1.000586,10995207.72,NaN,NaN,1.000586,113301.84,1.000743,187384.00,1.000645,0.590086,11,0_110_105
2393,105,0,120,0.00,0,1.000586,11007902.29,NaN,NaN,1.000586,106950.84,1.000743,181095.52,1.000644,1.820326,12,0_120_105
2584,105,0,130,0.00,0,1.000428,11007902.29,NaN,NaN,1.000428,100139.50,1.000586,180622.44,1.000484,1.679659,13,0_130_105
2775,105,0,140,0.00,0,1.000271,10984925.12,NaN,NaN,1.000271,68569.20,1.000428,251523.50,1.000304,2.260208,14,0_140_105
2966,105,0,150,0.00,0,1.000271,11034370.46,NaN,NaN,1.000271,61394.83,1.000428,248158.00,1.000302,2.650022,15,0_150_105
3157,105,0,160,0.00,0,1.000113,10977244.91,NaN,NaN,1.000113,106329.00,1.000271,172438.84,1.000173,-0.010133,16,0_160_105
3348,105,0,170,0.00,0,1.000113,11757960.71,NaN,NaN,1.000113,68241.00,1.000271,196882.49,1.000154,-1.630187,17,0_170_105
3539,105,0,180,72359.02,-1,1.000271,12022261.57,NaN,NaN,1.000271,118154.89,1.000428,68707.00,1.000370,-4.130006,18,0_180_105
3730,105,0,190,0.00,0,1.000271,12100967.87,NaN,NaN,1.000271,103234.74,1.000428,113601.50,1.000346,-6.269813,19,0_190_105

In [ ]:
# see unique stock_id in df
df['stock_id'].unique()

# LSTM

In [ ]:
from keras.models import Sequential
from keras.layers import LSTM, Dense
import numpy as np

# Assuming df is your DataFrame and you want to predict the 'target' column
target_column = 'target' # column you want to predict
n_steps = 3  # number of time steps you want to consider in your sequence

# Prepare your data
X, y = [], []
for i in range(n_steps, len(df)):
    X.append(df[i-n_steps:i].values)
    y.append(df.loc[i, target_column])
X, y = np.array(X), np.array(y)

# Reshape X to fit LSTM layer input shape requirements
X = X.reshape((X.shape[0], X.shape[1], df.shape[1]))

# Define LSTM model
model = Sequential()
model.add(LSTM(50, activation='relu', input_shape=(n_steps, df.shape[1])))
model.add(Dense(1))
model.compile(optimizer='adam', loss='mse')

# Fit model
model.fit(X, y, epochs=200, verbose=0)

# Predict
X_test = np.array(df[-n_steps:].values).reshape((1, n_steps, df.shape[1]))